* {
    margin: 0;
}

.wrap {
    display: flex;
    justify-content: center;
    margin-top: 250px;
}

.squares {
    display: inline-block;
    position: relative;
}

.square {
    height: 200px;
    width: 200px;
    transition-duration: 1.5s;
}

.square:first-child {
    background-color: rgb(206, 42, 42);
}

.square:nth-child(2) {
    background-color: rgb(68, 165, 30);
    position: absolute;
    z-index: 1;
    left: 25%;
    top: 25%;
}

.square:last-child {
    background-color: rgb(62, 62, 163);
    position: absolute;
    top: 50%;
    left: 50%;
}

.square:nth-child(2):hover {
    transform: scale(1.5) rotateZ(-45deg);
    cursor: pointer;
}

/* .square:hover {
    transform: scale(1.5) rotateZ(-45deg);
    cursor: pointer;
    z-index: 2;
} */