* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.5;
}

.container {
    padding: 40px;
}

.title {
    font-size: 24px;
    margin-bottom: 30px;
}

.text {
    color: #fff;
    background-color: #34495E;
    border-radius: 20px;
    padding: 21px;
    margin-bottom: 25px;
}